
$white: #fff;
$black: #000;

$rarity-0: rgb(0, 0, 0);
$rarity-1: rgb(200, 200, 200);
$rarity-2: rgb(74, 155, 209);
$rarity-3: rgb(173, 90, 255);
$rarity-4: rgb(255, 59, 59);
$rarity-5: rgb(247, 162, 45);

$rarity-0-dark: rgb(0, 0, 0);
$rarity-1-dark: rgb(32, 32, 32);
$rarity-2-dark: rgb(15, 32, 40);
$rarity-3-dark: rgb(16, 10, 27);
$rarity-4-dark: rgb(36, 9, 9);
$rarity-5-dark: rgb(26, 24, 8);

$pastel-positive: rgb(102, 185, 102);
$pastel-negative: rgb(191, 89, 89);
$stat-positive: rgb(0, 255, 0);
$stat-negative: rgb(244, 0, 0);
$app-negative-base: #791a1a;
$app-negative-active: #693c3c;
$cream: rgb(234, 226, 176);
