<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Brotato Item Creator</title>
	<link rel="stylesheet" href="assets/styles/dist/app.css?ver=1.3.1">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- Font (Anybody) -->
	<!-- note: had to self-host instead, to make the image render work as it needs locally-hosted reosurces -->
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
	<!-- <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> -->

	<!-- Vue + App -->
	<script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
	<!-- <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.prod.js"></script> -->
	<script type="module" src="assets/scripts/app.js?ver=1.3.1"></script>
</head>
<body>
	<div id="app" class="wrap">
		<header class="header">
			<div class="header__title">
				<h1>Brotato Item Creator</h1>
			</div>
			<div class="header__save">
				<button class="btn btn--large btn--savetoggle" v-on:click="toggleSaveSidebar()">💾</button>
			</div>
		</header>

		<main>
			<div class="panels">

				<!-- Saved -->
				<section class="panel panel--saved">
					<div class="save-sidebar">
						<div class="save-sidebar__heading">
							<h2>Saved</h2>
						</div>

						<div class="rowgroup">
							<div class="row">
								<div class="saved-items">
									<div class="saved-item" v-for="myItemVal, myItemIndex in myItems">
										<div class="saved-item__main" v-on:click="loadItem(myItemIndex)">
											<span class="saved-item__number">{{ myItemIndex + 1 }}</span>
											<span class="saved-item__img">
												<img :src="getIconImgSrc(myItemVal.icon)">
											</span>
											<span class="saved-item__name" :class="'colorrarity' + myItemVal.tier">{{ myItemVal.name }}</span>
										</div>
										<!-- @todo: svg -->
										<div class="saved-item__delete" v-on:click="deleteItem(myItemIndex)">
											X
										</div>
									</div>
								</div>
							</div>
						</div>

						<button class="btn btn--default-bg btn--large" v-on:click="saveItem()">
							Save
							<!-- 💾 -->
						</button>
					</div>
				</section>

				<!-- Editor -->
				<section class="panel panel--editor">
					<!-- <h2>Editor</h2> -->

					<div class="rowgroup">

						<!-- Tier Buttons -->
						<div class="row">
							<div class="tierbtns">
								<button class="btn btn--tier btn--has-bg" type="button"
									v-for="tierData, num in tiersData"
									v-on:click="setTier(num)"
									:class="['rarity' + num, tier === num ? 'btn--active' : '']"
									:title="tierData.tooltip"
									>
									<div class="btn__text">{{ tierData.txt }}</div>
								</button>
							</div>
						</div>

						<!-- Main Editor (ibox) -->
						<div class="row row--editor">
							<!-- ibox rarity{{ tier }} rarity{{ tier }}dark rounded ibox--editable -->
							<div class="ibox ibox--editable" :class="[getBgClasses(), 'border-color-tier' + tier]">
								<div class="ibox__top">
									<div class="ibox__icon rounded" v-if="showImg" v-on:click="cycleIcons()">
										<img :src="getIconImgSrc(icon)">
									</div>

									<div class="ibox__top-right">
										<div class="ibox__name" :class="getNameClass()">
											<textarea v-model="name" type="text"></textarea>
										</div>
										<div class="ibox__type">
											<input v-model="type" type="text">
										</div>
									</div>
								</div>

								<div class="editortext">
									<div class="editortext__row editortext__row--smb">
										<div class="field field--buttons">
											<button type="button" class="btn btn--default-bg" v-on:click="addStatLine('positive')">Positive</button>
											<button type="button" class="btn btn--default-bg" v-on:click="addStatLine('negative')">Negative</button>
											<button type="button" class="btn btn--default-bg" v-on:click="addStatLine('stat')">Stat</button>
											<button type="button" class="btn btn--default-bg" v-on:click="addWeaponStats('melee')">Weapon (M)</button>
											<button type="button" class="btn btn--default-bg" v-on:click="addWeaponStats('ranged')">Weapon (R)</button>
											<button type="button" class="btn btn--default-bg btn--red" v-on:click="clearStats()">CLEAR</button>
										</div>
									</div>

									<div class="editortext__row">
										<div class="field field--buttons">
											<button type="button" class="btn btn--default-bg btn--staticon" v-on:click="addStatIcon(key)" v-for="value, key in statIcons">
												<img :src="'assets/img/stats/' + value" :title="key">
											</button>
										</div>
									</div>

									<div class="field field--stats">
										<div class="ibox__stats">
											<textarea type="checkbox" v-model="statsText" v-on:change="syntaxHighlighter()"></textarea>

											<!-- Overlay. This element has syntax highlighting -->
											<div class="ibox__stats-overlay">
												<pre class="overlay"><code class="overlay" v-html="statsText"></code></pre>

												<div v-if="1 == 0">
													<!-- @todo:cleanup-->
													<!-- <pre class="overlay">
														<code class="overlay">
															Positive
															[p]+10[/p]
															Negative
															[n]-10[/n]
															Stat
															[s]Damage:[/s]
															Icon
															[i]armor[/i]
														</code>
													</pre> -->
												</div>
											</div>
										</div>
									</div>

									<div class="helpnotes">
										<div class="helpnote" v-for="note in helpNotes">
											<div class="helpnote__text">{{ note.txt }}</div>
											<div class="helpnote__code">
												<code :class="note.cls" v-html="note.code"></code>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div><!--@todo: too many div wrappers? -->

					<!-- Extras -->
					<div class="rowgroup">
						<div class="row">
							<!-- <div class="labelwrap"> -->
								<!-- <div class="labeltext"> -->
									<!-- Icon -->
								<!-- </div> -->
								<!-- <div class="field field--icons"> -->
									<div class="icon-btns">
										<div class="icon-btn" v-for="val, key in icons" :class="( icon === key ) ? 'icon-btn--active' : ''">
											<img :src="getIconImgSrc(key)" v-on:click="setIcon(key)">
										</div>
									</div>
								<!-- </div> -->
							<!-- </div> -->
						</div>

						<!--
						<div class="row">
							<label class="labelwrap">
								<div class="labeltext">
									Icon?
								</div>
								<div class="field field--has-checkbox">
									<input type="checkbox" v-model="showImg">
								</div>
							</label>
						</div>
						-->

						<!--
						<div class="row">
							<label class="labelwrap">
								<div class="labeltext">Width</div>
								<div class="field field--width">
									<input v-model="width" type="number" step="10" min="200" max="400" v-on:change="fixWidthInput()">
								</div>
							</label>
						</div>
						-->

						<div class="row row--buttons">

						</div>
					</div>
				</section>


				<!-- Result -->
				<section class="panel panel--result">
					<h2>Result</h2>
					<div class="result flex-center" id="result">
						<div class="ibox rounded ibox--preview" :class="getBgClasses()" :style="getWidthInlineStyle()">
							<div class="ibox__top">
								<div class="ibox__icon rounded" v-if="showImg">
									<img :src="getIconImgSrc(icon)">
								</div>

								<div class="ibox__top-right">
									<div class="ibox__name" :class="getNameClass()">{{ name }}</div>
									<div class="ibox__type">{{ type }}</div>
								</div>
							</div>
							<div class="ibox__stats">
								<p v-html="getStatsText()"></p>
							</div>
						</div>
					</div>

					<div class="render flex-center">
						<div class="width-opts">
							<button class="btn btn--toggle-left btn--default-bg" type="button" v-on:click="setWidth(300)">Default</button>
							<button class="btn btn--toggle-right btn--default-bg" type="button" v-on:click="setWidth(400)">Wider</button>
						</div>

						<button class="btn btn--default-bg btn--large btn--submit" v-on:click="renderCanvas()">Render Image</button>

						<div class="result" id="result-temp">
						</div>

						<canvas id="canvas" width="300" height="150">
						</canvas>

						<div v-if="debugModeOn">
							<!-- ⚡ Debug ⚡ -->
							<div id="svg" v-html="renderSVG">
							</div>
							<!-- You have to click the Render button twice for this to work, and right-click > open in new tab -->
							<div id="svg-link">
								<a :href="svgUrl" onClick="void(0);">View SVG</a>
							</div>
						</div>

						<p class="tip mt-5">Right-click > <em>Copy image</em> / <em>Save image as</em></p>
					</div>
				</section>



			</div>
		</main>

		<footer>
			<!--
			<div class="tips">
				<strong>To take a screenshot on Windows:</strong>
				<br>Press WinKey (<img src="img/winkey.svg">), type <code>Snipping Tool</code>, click the program.
				<br>In the Snipping Tool: Click New, select a region.
				<br>Click the Save to save the file, or Paste icon to copy to clipboard.
			</div>
			-->
			<div class="credit">
				<div class="text-upper">made by Darkly77</div>
				<div>Built in <a href="https://vuejs.org/" target="_blank">vue.js</a></div>
				<div>
					<a href="https://github.com/BrotatoMods/Brotato-Item-Creator-WebApp" target="_blank">
						Source on Github
					</a>
				</div>
			</div>
		</footer>

<!--
@todo: cleanup
<pre>
	<code>
		Positive
		[p]+10[/p]
		Negative
		[n]-10[/n]
		Stat
		[s]Damage:[/s]
		Icon
		[i]armor[/i]
	</code>
</pre>
-->

	</div>

	<div id="scripts">
		<!--
		Name: ResterizeHTML
		Desc: Converts DOM to canvas, so users can save an image of their result
		URLG: https://github.com/cburgmer/rasterizeHTML.js/
		URLN: https://www.npmjs.com/package/rasterizehtml
		-->
		<script src="https://unpkg.com/rasterizehtml@1.3.1/dist/rasterizeHTML.allinone.js"></script>

		<!--
		Name: computed-style-to-inline-style
		Desc: Applies inline styles to the element before it's converted to canvas
			See why this is needed: https://github.com/cburgmer/rasterizeHTML.js/issues/200
		ULRG: https://github.com/lukehorvat/computed-style-to-inline-style
		URLN: https://www.npmjs.com/package/computed-style-to-inline-style
		-->
		<script src="https://unpkg.com/computed-style-to-inline-style@3.0.0/dist/index.js"></script>

		<!-- https://github.com/jgnewman/custom-syntax-highlighter -->
		<script src="https://unpkg.com/custom-syntax-highlighter@latest/bin/index.js"></script>
	</div>
</body>
</html>
