/* Global */

:root {
	--pastelgreen: 102, 185, 102;
	--pastelred: 191, 89, 89;
}


html {
	font-size: 16px;
}

body {
	background: #111;
	color: #aaa;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8;
}

body * {
	box-sizing: border-box;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 20px;
}

a {
	color: white;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

code {
	background-color: rgba(0,0,0,0.8);
	font-family: consolas;
	color: rgba(255,255,255,0.8);
	padding: 1px;
}

pre {
	background-color: rgba(0,0,0,0.8);
	font-family: consolas;
	color: rgba(255,255,255,0.8);
	padding: 1px;
	white-space: pre-wrap;
}

label {
	cursor: pointer;
}


/* Main */
/* ===========================================================================*/

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	min-height: 100vh;
}

header {
	padding: 20px 40px;
	margin-top: 40px;
}

main {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
	align-items: flex-start;

    /* Tests for small resolution */
	/* max-width: 1263px; */
    /* border: 1px dashed rgba(255, 255, 0, 0.2); */
}

.panel {
	border: 1px solid rgba(255,255,255, 0.05);
	padding: 20px;
	margin: 0 20px;
	min-height: 400px;
	border-radius: 10px;
}

/* .render {} */

.result {
	min-width: 400px;
	margin-bottom: 20px;
}


/* Ibox Edits */
/* ===========================================================================*/

/* Stuff that's not in the wiki's styles */

.ibox__type {
	color: rgb(234, 226, 176)
}

.ibox__icon {
	width: 60px;
	height: 60px;
}

.ibox {
	min-width: 200px;
	max-width: 400px;
}


/* Create */
/* ===========================================================================*/

.create {}

.create__row {
	margin-bottom: 5px;
}

.create__label-wrap {
	display: flex;
}

.create__label-wrap--nocols {
	display: block;
}

.create__label-wrap--nocols .create__label-text {
	width: 100%;
}

.create__label-text {
	width: 100px;
	font-weight: 600;
	padding: 10px;
}

.create__label-text--empty {
	padding: 0;
}

.create__field select,
.create__field input[type="text"],
.create__field input[type="number"],
.create__field textarea {
	/* padding: 5px; */
    background: black;
    border-radius: 3px;
    border: 1px solid grey;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: 200px;
}

.create__field input[type="checkbox"] {
	padding: 10px;
	width: 20px;
}

.create__help {
	padding: 0 10px;
}


/* Special Fields */
/* ----------------------------------------------------------------------*/

.create__field--tier select {
	width: 88px;
}

.create__field--width input[type="number"] {
	width: 100px;
}

.create__field--has-checkbox {
	padding: 10px 0;
}

.create__field--stats textarea {
	max-height: 300px;
	min-height: 150px;
	min-width: 300px;
	max-width: 500px;
	width: 100%;
}

.create__field--buttons {
	padding: 0 0 10px 0px;
}

.create__field--buttons button {
	margin-right: 5px;
}

.create__row--buttons  {
	margin-top: -5px;
}


/* Canvas */
/* ===========================================================================*/

#canvas {
	border: 1px dashed rgb(52, 52, 52);
}


/* Buttons */
/* ===========================================================================*/

.btn {
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	color: rgba(255,255,255, 0.6);
}

.btn:not(.btn--has-bg) {
	background: rgba(255,255,255, 0.1);
}

.btn:not(.btn--has-bg):hover {
	background: rgba(255,255,255, 0.3);
}

.btn--main {
	padding: 10px;
	font-weight: 600;
}

.btn--has-bg:hover,
.btn--has-bg.btn--active {
	opacity: 0.6;
}

.btn--has-bg:hover {
	opacity: 0.4;
}

.btn--red {
	background-color: #791a1a !important;
	color: white;
}

.btn--red:hover {
	background-color: #693c3c !important;
}


/* Icon Buttons */
/* ===========================================================================*/

.icon-btns {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 250px;
}

.icon-btn {
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 3px;
}

.icon-btn:hover {
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
}

.icon-btn--active {
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
}

.icon-btn img {
	display: block;
	width: 32px;
}


/* Misc */
/* ===========================================================================*/

.tip {
	font-size: 0.7rem;
}



/* Footer */
/* ===========================================================================*/

footer {
	margin-top: 10px;
	text-align: center;
}

.tips {
	font-size: 0.9rem;
}

.credit {
	font-size: 0.7rem;
	margin-top: 20px;
}


/* Utils */
/* ===========================================================================*/

.text-upper {
	text-transform: uppercase;
}

.text-positive {
	color: rgb(0, 255, 0);
	/* color: rgb(var(--pastelgreen)); */
}

.text-negative {
	color: rgb(244, 0, 0);
	/* color: rgb(var(--pastelred)); */
}

.text-cream {
	color: rgb(234, 226, 176);
}
