/* Global */

:root {
	--pastel-positive: rgb(102, 185, 102);
	--pastel-negative: rgb(191, 89, 89);
	--stat-positive: rgb(0, 255, 0);
	--stat-negative: rgb(244, 0, 0);
	--app-negative-base: #791a1a;
	--app-negative-active: #693c3c;
	--cream: rgb(234, 226, 176);
	color-scheme: dark;
}


html {
	font-size: 16px;
}

body {
	background: linear-gradient(180deg, rgb(88, 88, 88) 0%, rgb(39, 39, 39) 100%);
	color: #aaa;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8;
}

body * {
	box-sizing: border-box;
}

h1 {
	color: #fff;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	margin-bottom: 20px;
	text-align: center;
}

a {
	color: #fff;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

code {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255,255,255,0.8);
	font-family: consolas;
	padding: 1px;
}

pre {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	font-family: consolas;
	padding: 1px;
	white-space: pre-wrap;
}

label {
	cursor: pointer;
}


/* Main */
/* ===========================================================================*/

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	margin-top: 40px;
	padding: 20px 40px;
}

main {
	align-items: center;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;

	/* Tests for small resolution (ie. my TV) */
	/* max-width: 1263px; */
	/* border: 1px dashed rgba(255, 255, 0, 0.2); */
}

.panel {
	background: #151515;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.05);
	margin: 0 10px;
	min-height: 400px;
	padding: 15px;
}

.panel--stats {
	width: 550px;
}

.result {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	min-width: 400px;
}

.render .btn {
	flex-grow: 0;
}

.flex-center {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}


/* Ibox Edits */
/* ===========================================================================*/

/* Stuff that's not in the wiki's styles */

.ibox__name {
	word-break: break-word;
}

.ibox__type {
	color: var(--cream);
}

.ibox__icon {
	height: 60px;
	width: 60px;
}

.ibox {
	max-width: 400px;
	min-width: 200px;
}


/* Ibox Misc */
/* ===========================================================================*/

.staticon {
	display: inline-block;
}

.staticon img,
.btn--staticon img {
	vertical-align: middle;
	width: 20px;
}

.btn--staticon {
	margin-bottom: 3px;
}


/* Create */
/* ===========================================================================*/

.create__row {
	margin-bottom: 10px;
}

.create__label-wrap {
	display: flex;
}

.create__label-wrap--nocols {
	display: block;
}

.create__label-wrap--nocols .create__label-text {
	width: 100%;
}

.create__label-text {
	font-weight: 600;
	padding: 5px 10px 10px 10px;
	width: 100px;
}

.create__label-text--empty {
	padding: 0;
}

.create__field select,
.create__field input[type="text"],
.create__field input[type="number"],
.create__field textarea {
	background: #000;
	border-radius: 3px;
	border: 1px solid grey;
	color: #fff;
	font-size: 1rem;
	padding: 10px;
	width: 200px;
}

.create__field input[type="checkbox"] {
	padding: 10px;
	width: 20px;
}

.create__help {
	padding: 0 10px;
}


/* Special Fields */
/* ----------------------------------------------------------------------*/

.create__field--tier select {
	width: 88px;
}

.create__field--width input[type="number"] {
	width: 100px;
}

.create__field--has-checkbox {
	padding: 10px 0;
}

.create__field--stats textarea {
	min-height: 150px;
	max-height: 300px;
	min-width: 300px;
	max-width: 500px;
	width: 100%;
}

.create__field--buttons {
	padding: 0 0 10px 0px;
}

.create__field--buttons button {
	margin-right: 5px;
}

.create__row--buttons {
	margin-top: -5px;
}

.create__field--icon-buttons {
	max-width: 380px;
}


/* Canvas */
/* ===========================================================================*/

#canvas {
	border: 1px dashed rgb(52, 52, 52);
}


/* Buttons */
/* ===========================================================================*/

.btn {
	border-radius: 4px;
	border: 1px solid #000;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	padding: 5px 10px;
}

.btn:not(.btn--has-bg) {
	background: rgba(255, 255, 255, 0.1);
}

.btn:not(.btn--has-bg):hover {
	background: rgba(255, 255, 255, 0.3);
}

.btn--main {
	font-weight: 600;
	padding: 10px 15px;
}

.btn--has-bg:hover,
.btn--has-bg.btn--active {
	opacity: 0.6;
}

.btn--has-bg:hover {
	opacity: 0.4;
}

.btn--red {
	background-color: #791a1a !important; /* @todo: bad */
	color: #fff;
}

.btn--red:hover {
	background-color: #693c3c !important; /* @todo: bad */
}


/* Icon Buttons */
/* ===========================================================================*/

.icon-btns {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	width: 250px;
}

.icon-btn {
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 3px;
}

.icon-btn:hover {
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
}

.icon-btn--active {
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
}

.icon-btn img {
	display: block;
	width: 32px;
}


/* Saved Items */
/* ===========================================================================*/

.saved-items {
	width: 200px;
}

.saved-item {
	display: flex;
	font-size: 0.9rem;
	justify-content: space-between;
	line-height: 1.5;
	margin-bottom: 5px;
}

.saved-item__main {
	width: 90%;
}

.saved-item__main:hover {
	background: rgba(255,255,255, 0.1);
	cursor: pointer;
}

.saved-item__number {
	color: rgb(255,255,255, 0.1);
	margin-right: 5px;
}

.saved-item__name {
	color: #fff;
	word-break: break-word;
}

.saved-item__delete {
	background-color: var(--app-negative-base);;
	border-radius: 3px;
	height: 20px;
	margin-left: 10px;
	text-align: center;
	width: 10%;
}

.saved-item__delete:hover {
	background-color: var(--app-negative-active);;
	cursor: pointer;
}


/* Misc */
/* ===========================================================================*/

.tip {
	font-size: 0.7rem;
}



/* Footer */
/* ===========================================================================*/

footer {
	margin-top: 10px;
	text-align: center;
}

.tips {
	font-size: 0.9rem;
}

.credit {
	font-size: 0.7rem;
	margin-top: 20px;
}


/* Utils */
/* ===========================================================================*/

.text-upper {
	text-transform: uppercase;
}

.text-positive {
	color: var(--stat-positive);
	/* color: var(--pastel-positive) */
}

.text-negative {
	color: var(--stat-negative);
	/* color: var(--pastel-negative); */
}

.text-cream {
	color: var(--cream);
}

.mt-5 {
	margin-top: 5px;
}
