/**
 * Create (main editor)
 */

.create__row {
	margin-bottom: 10px;
}

.create__label-wrap {
	display: flex;
}

.create__label-wrap--nocols {
	display: block;
}

.create__label-wrap--nocols .create__label-text {
	width: 100%;
}

.create__label-text {
	font-weight: 600;
	padding: 5px 10px 10px 10px;
	width: 100px;
}

.create__label-text--empty {
	padding: 0;
}

.create__field select,
.create__field input[type="text"],
.create__field input[type="number"],
.create__field textarea {
	background: $black;
	border-radius: 3px;
	border: 1px solid grey;
	color: $white;
	font-size: 1rem;
	padding: 10px;
	width: 200px;
}

.create__field textarea {
	font-size: 0.9rem;
}

.create__field input[type="checkbox"] {
	padding: 10px;
	width: 20px;
}

.create__help {
	padding: 0 10px;
}


// Special Fields
// =============================================================================

.create__field--tier select {
	width: 88px;
}

.create__field--width input[type="number"] {
	width: 100px;
}

.create__field--has-checkbox {
	padding: 10px 0;
}

.create__field--stats textarea {
	min-height: 150px;
	max-height: 300px;
	min-width: 300px;
	max-width: 500px;
	width: 100%;
}

.create__field--buttons {
	padding: 0 0 10px 0px;
}

.create__field--buttons button {
	margin-right: 5px;
}

.create__row--buttons {
	margin-top: -5px;
}

.create__field--icon-buttons {
	max-width: 380px;
}