/**
 * Saved Items
 */

.save-sidebar {
	// bottom: 0;
	// position: absolute;
	// right: 0;
	// top: 51px;
	// background-color: $panel-bg-dark;
	// border-left: 1px solid lighten($panel-bg-dark, 15);
	// padding: 10px;

	// &__heading {
	// 	display: none;
	// }
}

.saved-items {
	// width: 200px;
}

.saved-item {
	display: flex;
	font-size: 0.9rem;
	justify-content: space-between;
	line-height: 1.5;
	margin-bottom: 5px;

	@include bp-until($bp-tablet-po) {
		font-size: 1.1rem;
		line-height: 1.8;
		margin-top: 5px;
		margin-bottom: 5px;
		// padding-top: 5px;
		// padding-bottom: 5px;
		padding: 5px;

		&:nth-of-type(odd) {
			background-color: rgba($white, 0.05);
		}
	}

	&__main {
		width: 90%;

		&:hover {
			background: rgba($white, 0.1);
			cursor: pointer;
		}
	}

	&__img {
		margin-right: 5px;

		img {
			height: auto;
			width: 16px;
			vertical-align: middle;
		}
	}

	&__number {
		color: rgba(255, 255, 255, 0.1);
		margin-right: 5px;
	}

	&__name {
		color: $white;
		word-break: break-word;
	}

	&__delete {
		background-color: $app-negative-base;
		border-radius: 3px;
		height: 20px;
		margin-left: 10px;
		text-align: center;
		width: 10%;

		@include bp-until($bp-tablet-po) {
			// height: auto;
			height: 30px;
		}

		&:hover {
			background-color: $app-negative-active;
			cursor: pointer;
		}
	}
}
