
/* Item Box */
/* ===========================================================================*/

/*
This stuff is all via the wiki, I did the .ibox code for the StatsCard templates:
https://brotato.wiki.spellsandguns.com/Template:StatsCard
https://brotato.wiki.spellsandguns.com/Template:StatsCardWeapon
https://brotato.wiki.spellsandguns.com/Template:StatsCardWeaponTabs

https://brotato.wiki.spellsandguns.com/MediaWiki:Common.css
https://brotato.wiki.spellsandguns.com/MediaWiki:Common.js
*/

$rarity-0: rgb(0, 0, 0);
$rarity-1: rgb(200, 200, 200);
$rarity-2: rgb(74, 155, 209);
$rarity-3: rgb(173, 90, 255);
$rarity-4: rgb(255, 59, 59);
$rarity-5: rgb(247, 162, 45);
$rarity-0-dark: rgb(0, 0, 0);
$rarity-1-dark: rgb(32, 32, 32);
$rarity-2-dark: rgb(15, 32, 40);
$rarity-3-dark: rgb(16, 10, 27);
$rarity-4-dark: rgb(36, 9, 9);
$rarity-5-dark: rgb(26, 24, 8);

.rounded {
	border-radius: 4px;
}

.colorrarity1 {
	color: $rarity-1;
}
.colorrarity2 {
	color: $rarity-2;
}
.colorrarity3 {
	color: $rarity-3;
}
.colorrarity4 {
	color: $rarity-4;
}
.colorrarity5 {
	color: $rarity-5;
}

.rarity0 {
	border: 1px solid rgba($rarity-1,.5);
	background: rgba($rarity-0,.5);
}
.rarity1 {
	border: 1px solid rgba($rarity-1,.5);
	background: rgba($rarity-1,.5);
}
.rarity2 {
	border: 1px solid rgba($rarity-2,.5);
	background: rgba($rarity-2,.5);
}
.rarity3 {
	border: 1px solid rgba($rarity-3,.5);
	background: rgba($rarity-3,.5);
}
.rarity4 {
	border: 1px solid rgba($rarity-4,.5);
	background: rgba($rarity-4,.5);
}
.rarity5 {
	border: 1px solid rgba($rarity-5,.5);
	background: rgba($rarity-5,.5);
}

.ibox {
	opacity: 1;
	padding: 10px;
	transition: 0.1s;
	color: #fff;
	font-size: 15px;
}

:root {
	--name-size: 1.1em;
	--type-size: 1.1em;
	--text-size: 1em;
}

.ibox__top {
	display: flex;
	margin-bottom: 10px;
}

.ibox__icon {
	background-color: rgba(255,255,255, 0.1);
	margin-right: 10px;
	flex-shrink: 0;
}

.ibox__icon img {
	height: 60px;
	width: 60px;
	opacity: 0.2;
}

.ibox__name {
	font-size: var(--name-size);
	font-weight: bold;
	line-height: 1.2;
}

.ibox__top-right {
	width: 100%;
}

.ibox__type {
	font-size: var(--name-type);
}

.ibox__stats {
	font-size: var(--text-size);
	line-height: 1.5;
	white-space: pre-wrap;
}
.ibox__stats ul {
	margin: 0;
}
.ibox__stats li {
	list-style: none;
	margin-bottom: 3px;
}
.ibox--hidden {
	opacity: 0.2;
}

.rarity0dark {
	background: $rarity-0-dark;
}
.rarity1dark {
	background: $rarity-1-dark;
}
.rarity2dark {
	background: $rarity-2-dark;
}
.rarity3dark {
	background: $rarity-3-dark;
}
.rarity4dark {
	background: $rarity-4-dark;
}
.rarity5dark {
	background: $rarity-5-dark;
}
